{
    "presets": [
        [
            "@babel/preset-env",
            {
                useBuiltins: false,
                "targets": {
                    "browsers": [ "defaults", "not dead" ],
                }
            }
        ]
    ]
}
